name: npm publish

on:
  push:
    # Sequence of patterns matched against refs/heads
    #branches:
    #  - 'releases/**'  # Push events to branches matching refs/heads/releases/10
    # Sequence of patterns matched against refs/tags
    #tags:
    #  - v1.*           # Push events to v1.0, v1.1, and v1.9 tags

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: https://registry.npmjs.org/
      - run: yarn install --frozen-lockfile
      - run: yarn lerna bootstrap
      - run: yarn test
      - run: echo $NPM_TOKEN
        env:
          NPM_TOKEN: ${{secrets.NPM_TOKEN}}
      - run: npm whoami
        env:
          NPM_TOKEN: ${{secrets.NPM_TOKEN}}
      - run: yarn lerna publish from-git --yes
        env:
          NPM_TOKEN: ${{secrets.NPM_TOKEN}}
