name: test

on:
  push:
    branches:
      - master
  pull_request:


jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          cache: 'yarn'
          node-version: '20'
      - run: yarn install --frozen-lockfile
      - run: yarn lerna bootstrap
      - run: yarn test:lint
      - run: yarn test
